/* ==================================
   #BUTTON LINK
   Button styled as a link
   ================================== */

/* Variables
   ========================================================================== */


/* Component
   ========================================================================== */

.au-c-button-link {
  @include vl-font-size($au-base,.7);
  font-family: $au-font;
  font-weight: $au-regular;
  padding: $au-unit-tiny;
  border: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  text-underline-offset: .3ex;
  text-decoration: underline;
  text-decoration-color: $au-action-underline;
  color: $au-action-color;
  background-color: transparent;
  transition: color $au-transition;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $au-action-hover-color;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: $au-action-underline-hover;
  }

  &:focus {
    outline: $au-outline;
  }

  &:active {
    background-color: transparent;
  }

  &:visited {
    background-color: transparent;
  }
}

.au-c-button-link--action {
  color: $au-neutral-darker;
  text-decoration-color: $au-neutral-light;

  &:hover,
  &:focus {
    color: $au-action-hover-color;
    text-decoration-color: $au-action-underline-hover;
  }
}

.au-c-button-link--block {
  width: 100%;
}
