/* ==================================
   #BUTTONS
   ================================== */

/* Variables
   ========================================================================== */

$au-button-height         : $au-unit-large !default;
$au-button-font-size      : $au-h6 !default;
$au-button-border         : .2rem !default;

/* Component
   ========================================================================== */

.au-c-button {
  @include vl-font-size($au-button-font-size);
  font-family: $au-font;
  font-weight: $au-regular;
  height: $au-button-height;
  text-decoration: none;
  text-align: center;
  outline: 0;
  appearance: none;
  -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
  display: inline-flex;
  align-items: center;
  padding: 0 $au-unit .1ex; // Visually center the text in the button
  border: 0;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $au-action-fg-color;
  background-color: $au-action-color;
  transition: background-color $au-transition;
  cursor: default;

  &:hover,
  &:focus {
    color: $au-action-fg-color;
    background-color: $au-action-hover-color;
    text-decoration: none;
  }

  &:focus {
    outline: $au-outline;
  }

  &:active {
    background-color: $au-action-active-color;
  }

  &:visited {
    background-color: $au-action-visited-color;
  }
}


// Secondary button
.au-c-button--secondary {
  background-color: transparent;
  color: $au-action-color;
  border: $au-button-border solid tint($au-action-color,20);
  transition: color $au-transition, border-color $au-transition, box-shadow $au-transition;
  line-height: $au-button-height - #{$au-button-border} * 2;

  &:visited {
    color: $au-action-color;
  }

  &:hover,
  &:focus,
  &:active {
    color: $au-action-hover-color;
    background-color: transparent;
    border-color: tint($au-action-hover-color,20);
    box-shadow: inset 0px 0px 0px $au-button-border tint($au-action-hover-color,20);
  }
}

// Error button
.au-c-button--error {
  background-color: $au-action-error-color;
  border-color:  $au-action-error-color;
  color: $au-page-bg;

  &:hover,
  &:focus,
  &:active {
    color: $au-page-bg;
    background-color: $au-action-error-hover-color;
    border-color: $au-action-error-color;
    color: $au-page-bg;
    box-shadow: none;
  }

  &.au-c-button--secondary {
    background-color: transparent;

    &,
    &:visited {
      color: $au-action-error-color;
      border-color: tint($au-action-error-color,20);
    }

    &:hover,
    &:focus,
    &:active {
      color: $au-action-error-hover-color;
      border-color: tint($au-action-error-hover-color,20);
      box-shadow: inset 0px 0px 0px $au-button-border tint($au-action-error-hover-color,20);
    }
  }
}


// Disabled button
.au-c-button--disabled {
  cursor: not-allowed;

  &,
  &:hover,
  &:focus,
  &:active {
    background-color: $au-action-disabled-fg-color;
    border-color: $au-action-disabled-fg-color;
    color: $au-page-bg;
    box-shadow: none;
  }

  &.au-c-button--secondary {
    background-color: transparent;
    color: $au-action-disabled-color;
    border-color: tint($au-action-disabled-color,20);

    &:visited {
      color: $au-action-disabled-color;
    }
  }
}
