/* ==================================
   #LINKS
   ================================== */

/* Component
   ========================================================================== */

.au-c-link {
  transition: color $au-transition, text-decoration $au-transition;
  font-weight: $au-regular;
  text-decoration-color: $au-action-underline;

  &,
  &:visited {
    color: $au-action-color;
  }

  &:hover,
  &:focus {
    color: $au-action-hover-color;
    text-decoration-color: $au-action-underline-hover;
  }

  &:focus {
    outline: $au-outline;
    outline-offset: $au-unit-tiny/2;
  }

  .is-active > & {
    color: $au-action-active-color;
    text-decoration: none;
  }
}

.au-c-link--neutral {
  &,
  &:visited {
    color: $au-neutral-dark;
    text-decoration-color: $au-neutral-light;
  }

  &:hover,
  &:focus {
    color: $au-neutral;
    text-decoration-color: $au-neutral-lighter;
  }

  &:focus {
    outline: $au-outline;
    outline-offset: $au-unit-tiny/2;
  }

  .is-active > & {
    color: $au-action-active-color;
    text-decoration: none;
  }
}

.au-c-link--icon {
  position: relative;
  padding-left: $au-unit-small;

  .au-c-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.au-c-link--bare {
  &,
  &:visited,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
