// ==================================
// #COLORS
// ==================================

// Tint & shade helper functions

// Makes a color lighter
@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}

// Makes a color darker
@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}

// Base colors
$au-white                    : #FFFFFF;
$au-black                    : #202326;

$au-neutral                  : #6D7783;
$au-neutral-light            : #CBD2DA;
$au-neutral-lighter          : #E8EBEE;
$au-neutral-lightest         : #F3F5F6;
$au-neutral-dark             : #545B63;
$au-neutral-darker           : #3b4146;
$au-neutral-darkest          : #202326;

$au-yellow                   : #FEE539;

$au-blue                     : #0F68C9;
$au-blue-light               : #1075E2;
$au-blue-lighter             : #AAD0F9;
$au-blue-lightest            : #DCECFD;
$au-blue-dark                : #0C56A6;

$au-red                      : #DB3434;
$au-red-light                : #FF3333;
$au-red-lighter              : #FBE6E6;
$au-red-lightest             : #FCF3F3;
$au-red-dark                 : #C32323;
$au-red-darker               : #470000;

$au-green                    : #8BAE00;
$au-green-light              : #B3E000;
$au-green-lighter            : #E8EFC2;
$au-green-lightest           : #F7FAE5;
$au-green-dark               : #637A0B;
$au-green-darker             : #323D08;

$au-orange                   : #FFC515;
$au-orange-light             : #FEE539;
$au-orange-lighter           : #FFF29B;
$au-orange-lightest          : #FFF9D5;
$au-orange-dark              : #7C6B3A;
$au-orange-darker            : #5C4F2B;




// Semantic color variables
$au-header-bg                : $au-white;
$au-header-border            : $au-neutral-lighter;
$au-page-bg                  : $au-white;
$au-select-text-color        : $au-neutral-darkest;
$au-select-text-bg           : $au-blue-lightest;
$au-action-color             : $au-blue;
$au-action-fg-color          : $au-white;
$au-action-hover-color       : $au-blue-light;
$au-action-active-color      : $au-blue-light;
$au-action-visited-color     : $au-blue-dark;
$au-action-active-color      : $au-blue-dark;
$au-action-underline         : $au-blue-light;
$au-action-underline-hover   : $au-blue-lighter;
$au-action-error-color       : $au-red-dark;
$au-action-error-hover-color : $au-red;
$au-action-disabled-color    : $au-neutral-darker;
$au-action-disabled-fg-color : $au-neutral-dark;
$au-outline-color            : $au-orange;

