/* ==================================
   #CONTENT
   ================================== */

/* Variables
   ========================================================================== */

$au-content-link-color             : $au-blue-600 !default;
$au-content-link-hover-color       : $au-blue-800 !default;
$au-content-link-active-color      : $au-blue-900 !default;
$au-content-link-underline         : $au-blue-600 !default;
$au-content-link-underline-hover   : $au-blue-300 !default;


/* Component
   ========================================================================== */

.au-c-content {
  > * {
    margin-bottom: 0;
  }

  > * + * {
    margin-top: $au-unit-small;
  }

  > h1 + *,
  > h2 + *,
  > h3 + *,
  > h4 + *,
  > h5 + *,
  > h6 + * {
    margin-top: $au-unit-tiny;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    font-family: $au-font-secondary;
  }

  > h1 {
    @include au-font-size(var(--au-h1-small));
  }

  > h2 {
    @include au-font-size(var(--au-h2-small));
    font-weight: $au-medium;
  }

  > h3 {
    @include au-font-size(var(--au-h3-small));
    font-weight: $au-medium;
  }

  > ul h3 {
    @include au-font-size(var(--au-h6));
    font-weight: $au-medium;
  }

  > h4,
  > h5,
  > h6 {
    @include au-font-size(var(--au-h6));
  }

  > p,
  > ul,
  > ol {
    @include au-font-size(var(--au-base),1.5);
  }

  hr {
    margin: 0;
    margin-top: $au-unit;
    margin-bottom: $au-unit;
    border: 0;
    border-bottom: 3px solid $au-gray-200;
  }

  > * + blockquote {
    margin-top: $au-unit-large;
  }

  > blockquote + * {
    margin-top: $au-unit-large;
  }

  > blockquote {
    padding-top: $au-unit;
    padding-bottom: $au-unit;
    border-top: 2px solid $au-gray-200;
    border-bottom: 2px solid $au-gray-200;
  }

  > blockquote p {
    @include au-font-size(var(--au-h5),1.5);
    margin-bottom: 0;
  }

  > blockquote p:first-child {
    &:before {
      content: "“"
    }

    &:after {
      content: "”"
    }
  }

  > blockquote p + p {
    @include au-font-size(var(--au-base),1.5);
    margin-top: $au-unit-small;
    font-weight: $au-medium;
  }

  ul {
    margin-left: $au-unit; // 2.4rem
  }

  ol {
    margin-left: $au-unit - 0.4rem; // 2.4rem
  }

  ul {
    list-style: disc;
  }

  ol {
      list-style: decimal;
  }

  ul ul {
    margin-left: $au-unit;
  }

  ol ol {
    margin-top: $au-unit-small*.5;
    margin-bottom: $au-unit-small*.5;
    margin-left: $au-unit - $au-unit-small;
  }

  ul li,
  ol li {
    position: relative;
  }

  ol li + li {
    margin-top: $au-unit-tiny;
  }

  code {
    font-family: $au-font-tertiary;
    font-weight: $au-light;
    padding-top: $au-unit-tiny;
    padding-bottom: $au-unit-tiny*.5;
    padding-left: $au-unit-tiny*.5;
    padding-right: $au-unit-tiny*.5;
    background-color: $au-gray-100;
    border-radius: $au-radius;
    border: 1px solid $au-gray-200;

    &::-moz-selection {
      background-color: $au-gray-200;
      color: $au-gray-700;
    }

    &::selection {
      background-color: $au-gray-200;
      color: $au-gray-700;
    }
  }

  > pre {
    background-color: $au-gray-800;
    color: $au-white;
    padding: $au-unit-small;
    border-radius: $au-radius;
    margin-bottom: $au-unit;

    display: block;

    overflow-x: auto;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;

    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
  }

  > pre code {
    background-color: transparent;
    border: 0;
  }

  > * + pre {
    margin-top: $au-unit;
  }

  strong {
    font-weight: $au-medium;
  }

  > a:not(.au-c-button),
  > ul a:not(.au-c-button),
  > ol a:not(.au-c-button),
  > p a:not(.au-c-button) {
    transition: color $au-transition, text-decoration $au-transition;
    font-weight: $au-regular;
    text-decoration-color: $au-content-link-underline;

    &,
    &:visited {
      color: $au-content-link-color;
    }

    &:hover,
    &:focus {
      color: $au-content-link-hover-color;
      text-decoration-color: $au-content-link-underline-hover;
    }

    &:focus {
      outline: $au-outline;
      outline-offset: $au-outline-offset;
    }

    .is-active > & {
      color: $au-content-link-active-color;
      text-decoration: none;
    }
  }

  table {
    @include au-font-size(var(--au-base));
    width: 100%;
    border: .1rem solid $au-gray-300;
  }

  th,
  td {
    padding: $au-unit-small;
    border-bottom: .1rem solid $au-gray-300;
    text-align: left;
  }

  th + th,
  td + td {
    border-left: .1rem solid $au-gray-300;
  }

  th {
    font-weight: $au-medium;
  }

  @include mq(small) {
    > * + * {
      margin-top: $au-unit;
    }

    > h1 + *,
    > h2 + *,
    > h3 + *,
    > h4 + *,
    > h5 + *,
    > h6 + * {
      margin-top: $au-unit-tiny;
    }

    > h1 {
      @include au-font-size(var(--au-h2));
    }

    > h2 {
      @include au-font-size(var(--au-h4));
    }

    > h3 {
      @include au-font-size(var(--au-h5));
    }

    > h4,
    > h5,
    > h6 {
      @include au-font-size(var(--au-h6));
    }

    > p,
    > ul,
    > ol {
      @include au-font-size(var(--au-base),1.5);
    }

    > blockquote p {
      @include au-font-size(var(--au-h5),1.5);
    }

  }

  @include mq(medium) {
    > h1 + *,
    > h2 + *,
    > h3 + *,
    > h4 + *,
    > h5 + *,
    > h6 + * {
      margin-top: $au-unit-small;
    }

    > h1 {
      @include au-font-size(var(--au-h1));
    }

    > p,
    > ul,
    > ol {
      @include au-font-size(var(--au-h6));
    }

    > blockquote p {
      @include au-font-size(var(--au-h4));
    }
  }
}
