/* ==================================
   #SHAME
   ================================== */

// Disable outline on main and content section
#main,
#content {
  outline: 0;
}

// Sidebar intro text
.au-d-sidebar-intro {
  @include au-font-size($au-h6);
  font-family: $au-font-secondary;
  color: $au-gray-700;
  margin-bottom: $au-unit-tiny;
  margin-bottom: $au-unit;
}
